/node_modules
src/logs/ArchivosLogs/Enero/*.txt
src/logs/ArchivosLogs/Febrero/*.txt
src/logs/ArchivosLogs/Marzo/*.txt
src/logs/ArchivosLogs/Abril/*.txt
src/logs/ArchivosLogs/Mayo/*.txt
src/logs/ArchivosLogs/Junio/*.txt
src/logs/ArchivosLogs/Julio/*.txt
src/logs/ArchivosLogs/Agosto/*.txt
src/logs/ArchivosLogs/Septiembre/*.txt
src/logs/ArchivosLogs/Octubre/*.txt
src/logs/ArchivosLogs/Noviembre/*.txt
src/logs/ArchivosLogs/Diciembre/*.txt
